
/* 
    BOX
*/
.wrapper {
    display: flex;
    padding: 10px;
}

.box-left {
    flex: 1 10.00%;
    padding: 10px;
}

.box-center {
    flex: 1 20.00%;
    padding: 10px;
}

.box-right {
    flex: 1 70.00%;
    position: relative;
    padding: 10px;
}

img {
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.position {
    padding: 10%;
    font-size: 20px;
}

.title {
    padding-left: 2%;
    margin-bottom: 8px;       
}
.subtitle {
    padding-left: 2%;       
    color: rgba(0,0,0,.54);
    font-size: 14px;       
}

